## Data Cleanup, Database Creation, and Data Analysis

In [1]:
import pandas as pd
import numpy as np
import json
import geopy
from geopy import distance
from sqlalchemy import create_engine, func, inspect, ForeignKey, PrimaryKeyConstraint, distinct
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text
from sqlalchemy.orm import Session, relationship, backref
import re

In [4]:
postgre_user = ''
postgre_pw = ''

In [5]:
engine = create_engine(f'postgresql://{postgre_user}:{postgre_pw}@localhost:5432/la_businesses')
connection = engine.connect()

In [6]:
Base = declarative_base()

class Business(Base):
    __tablename__ = 'active_businesses'
    account = Column(Text, primary_key=True)
    business_name = Column(Text)
    dba_name = Column(Text)
    street_address = Column(Text)
    city = Column(Text)
    zip_code = Column(Text)
    location_description = Column(Text)
    mailing_address = Column(Text)
    mailing_city = Column(Text)
    mailing_zip_code = Column(Text)
    naics = Column(Float)
    naics_description = Column(Text)
    council_district = Column(Integer)
    location_start_date = Column(Text)
    lat = Column(Float)
    lon = Column(Float)
  
class Proximity(Base):
    __tablename__ = 'top_proximity'
    __table_args__ = (
        PrimaryKeyConstraint('index'),
    )
    index = Column(Integer, primary_key=True)
    top10_business = Column(Text)
    origin_business_id = Column(Text, ForeignKey('active_businesses.account'), nullable=False)
    proximate_business_id = Column(Text, ForeignKey('active_businesses.account'), nullable=False)
    proximate_business_name = Column(Text)
    distance = Column(Float)
        
    proximate_business = relationship("Business", foreign_keys='Proximity.proximate_business_id')
    origin_business = relationship("Business", foreign_keys='Proximity.origin_business_id')

In [27]:
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [7]:
session = Session(bind=engine)

In [2]:
# Data set was downloaded from data.lacity.org: https://data.lacity.org/A-Prosperous-City/Listing-of-Active-Businesses/6rrh-rzua
activeBusiness = 'data/Listing_of_Active_Businesses.csv'

# This data set will be generated later in this notebook
activeBusinessJSON = 'data/business_parsed.json'

In [3]:
bus_df = pd.read_csv(activeBusiness, dtype={
    'LOCATION ACCOUNT #': 'str',
    'BUSINESSNAME': 'str',
    'DBA NAME': 'str',
    'STREET ADDRESS': 'str',
    'CITY': 'str',
    'ZIP CODE': 'str',
    'LOCATION DESCRIPTION': 'str',
    'MAILING ADDRESS': 'str',
    'MAILING CITY': 'str',
    'MAILING ZIP CODE': 'str',
    'NAICS': 'float',
    'PRIMARY NAICS DESCRIPTION': 'str',
    'COUNCIL DISTRICT': 'str',
    'LOCATION START DATE': 'str',
    'LOCATION END DATE': 'str',
    'LOCATION': 'str'
})

### Remove all rows for which there are no coordinate values

In [4]:
bus_coord_filtered = bus_df.dropna(subset=['LOCATION']).reset_index().drop(['index', 'LOCATION END DATE'], axis=1)
bus_coord_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529804 entries, 0 to 529803
Data columns (total 15 columns):
LOCATION ACCOUNT #           529804 non-null object
BUSINESS NAME                529804 non-null object
DBA NAME                     184379 non-null object
STREET ADDRESS               529783 non-null object
CITY                         529779 non-null object
ZIP CODE                     529804 non-null object
LOCATION DESCRIPTION         529798 non-null object
MAILING ADDRESS              244147 non-null object
MAILING CITY                 244157 non-null object
MAILING ZIP CODE             244071 non-null object
NAICS                        479310 non-null float64
PRIMARY NAICS DESCRIPTION    479310 non-null object
COUNCIL DISTRICT             529804 non-null object
LOCATION START DATE          526322 non-null object
LOCATION                     529804 non-null object
dtypes: float64(1), object(14)
memory usage: 60.6+ MB

### Parse coordinates column data from string to array: (lat, lon)

In [5]:
bus_coord_parsed = bus_coord_filtered.drop(['LOCATION'], axis=1)
lat_coord = []
lon_coord = []

# It was taking far too long to parse and directly add to dataframe, so lists were made and those appended


for index, row in bus_coord_filtered.iterrows():
    coords = [float(num) for num in bus_coord_filtered.at[index, 'LOCATION'].lstrip("'(").strip("')").replace(' ','').split(',')]
    lat_coord.append(coords[0])
    lon_coord.append(coords[1])
    
bus_coord_parsed['LAT'] = lat_coord
bus_coord_parsed['LON'] = lon_coord

bus_coord_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529804 entries, 0 to 529803
Data columns (total 16 columns):
LOCATION ACCOUNT #           529804 non-null object
BUSINESS NAME                529804 non-null object
DBA NAME                     184379 non-null object
STREET ADDRESS               529783 non-null object
CITY                         529779 non-null object
ZIP CODE                     529804 non-null object
LOCATION DESCRIPTION         529798 non-null object
MAILING ADDRESS              244147 non-null object
MAILING CITY                 244157 non-null object
MAILING ZIP CODE             244071 non-null object
NAICS                        479310 non-null float64
PRIMARY NAICS DESCRIPTION    479310 non-null object
COUNCIL DISTRICT             529804 non-null object
LOCATION START DATE          526322 non-null object
LAT                          529804 non-null float64
LON                          529804 non-null float64
dtypes: float64(3), object(13)
memory usage: 64.7+ MB

In [6]:
bus_parsed = bus_coord_parsed.rename(columns={
    'LOCATION ACCOUNT #': 'account',
    'BUSINESS NAME': 'business_name',
    'DBA NAME': 'dba_name',
    'STREET ADDRESS': 'street_address',
    'CITY': 'city',
    'ZIP CODE': 'zip_code',
    'LOCATION DESCRIPTION': 'location_description',
    'MAILING ADDRESS': 'mailing_address',
    'MAILING CITY': 'mailing_city',
    'MAILING ZIP CODE': 'mailing_zip_code',
    'NAICS': 'naics',
    'PRIMARY NAICS DESCRIPTION': 'naics_description',
    'COUNCIL DISTRICT': 'council_district',
    'LOCATION START DATE': 'location_start_date',
    'LAT': 'lat',
    'LON': 'lon'
})
bus_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529804 entries, 0 to 529803
Data columns (total 16 columns):
account                 529804 non-null object
business_name           529804 non-null object
dba_name                184379 non-null object
street_address          529783 non-null object
city                    529779 non-null object
zip_code                529804 non-null object
location_description    529798 non-null object
mailing_address         244147 non-null object
mailing_city            244157 non-null object
mailing_zip_code        244071 non-null object
naics                   479310 non-null float64
naics_description       479310 non-null object
council_district        529804 non-null object
location_start_date     526322 non-null object
lat                     529804 non-null float64
lon                     529804 non-null float64
dtypes: float64(3), object(13)
memory usage: 64.7+ MB

In [7]:
bus_parsed = bus_parsed.drop([
    'dba_name', 
    'mailing_address', 
    'mailing_city',
    'mailing_zip_code',
    'naics',
    'location_start_date'], axis=1)

bus_parsed

,account,business_name,street_address,city,zip_code,location_description,naics_description,council_district,lat,lon
0,0002759676-0001-5,ABNER OROZCO VALENCIA,4057 EAGLE ROCK BLVD,LOS ANGELES,90065-3607,4057 EAGLE ROCK 90065,Automotive mechanical & electrical repair & ma...,14,34.1207,-118.2277
1,0002188355-0001-8,VENANCIO MARTINEZ,11936 HART STREET,NORTH HOLLYWOOD,91605-5719,11936 HART 91605-5719,NaN,2,34.1975,-118.3932
2,0002886268-0001-1,SADE SESSION,1311 W 89TH STREET APARTMENT #6,LOS ANGELES,90044-2058,1311 89TH 90044-2058,All other personal services,0,33.9572,-118.2986
3,0003009789-0001-5,DM ZONE INC,146 W 32ND STREET,LOS ANGELES,90007-3809,146 32ND 90007-3809,Other miscellaneous mfg.,9,34.0205,-118.2734
4,0000774650-0001-8,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,11911 SAN VICENTE 90049-6639,Offices of all other miscellaneous health prac...,11,34.0528,-118.4699
...,...,...,...,...,...,...,...,...,...,...
529799,0002825101-0001-3,B SWEET LLC,2005 SAWTELLE BLVD,LOS ANGELES,90025-6229,2005 SAWTELLE 90025-6229,Limited-service eating places,11,34.0409,-118.4436
529800,0000390787-0001-1,AMERICAN LAPAROSCOPIC ASSOCIATES INC,475 MARTIN LANE,BEVERLY HILLS,90210-1933,475 MARTIN 90210-1933,Other miscellaneous nondurable goods,0,34.1055,-118.3943
529801,0003105955-0001-9,ANDREA CASAS-BEAUX,1295 FEDERAL AVENUE APARTMENT #10,LOS ANGELES,90025-3971,1295 FEDERAL 90025,Individual & family services,11,34.0484,-118.4576
529802,0002949189-0001-6,LISA M LUGO,469 ARCHWOOD PLACE,ALTADENA,91001-5418,469 ARCHWOOD 91001-5418,Janitorial services,0,34.1845,-118.1606
529803,0000897217-0001-2,PRAYOSHA INC,550 S HILL STREET SUITE #1045,LOS ANGELES,90013-2432,550 HILL 90013-2432,Other miscellaneous nondurable goods,14,34.0476,-118.2524

In [39]:
bus_parsed.to_sql("active_businesses", engine, if_exists='replace', index=False)

In [ ]:
# Export data to json and csv files

bus_parsed.to_json(path_or_buf='business_parsed.json', orient='records')
bus_coord_parsed.to_csv('business_clean_parsed.csv', index=False)

### Generate list of businesses within specified radius distance of target business, by coordinates

In [17]:
# Load cleaned data json file

with open(activeBusinessJSON) as f:
    data = json.load(f)

In [ ]:
pd.DataFrame(data).groupby('BUSINESS NAME').count().sort_values(by=['LAT'], ascending=False)['LAT'].head(10)

In [ ]:
# Find the top 10 businesses from data file with the most locations

t10_names = pd.DataFrame(data).groupby('BUSINESS NAME').count().sort_values(by=['LAT'], ascending=False)['LAT'].head(10).index
for name in t10_names:
    print(name)

The following code generates a list of dictionaries of all businesses within a specified radius of every location of the top ten businesses listed above.

In order to keep the size of the resultant output as small as possible, the majority of information of each business was omitted leaving the "LOCATION ACCOUNT #" as a key value to use to identify businesses from the main dataset when additional information is needed.

In [ ]:
# Using default method of geodesic distance is ~50x slower in computation than using great-circle distance.
# Great-circle distance has up to ~0.5% error, more details in GeoPy documentation. 

search_radius = 0.5
top10_proximity_results = []

for busName in t10_names:
    total_search_results = {
        'business_name': busName,
        'results': []
    }
    
    print(busName)
    counter = 0

    for busOrigin in data:
        if (busOrigin['BUSINESS NAME'] == busName):

            counter += 1
            if (counter % 20 == 0):
                print(counter)

            single_search_results = {
                'origin_business': busOrigin['LOCATION ACCOUNT #'],
                'in_proximity': []
            }
            origin_coords = [busOrigin['LAT'], busOrigin['LON']]

            for busDict in data:
                dest_coords = [busDict['LAT'], busDict['LON']]
                distance = geopy.distance.great_circle(origin_coords, dest_coords).miles

                if (distance <= search_radius):
                    single_search_results['in_proximity'].append({
                        'LOCATION ACCOUNT #': busDict['LOCATION ACCOUNT #'],
                        'BUSINESS NAME': busDict['BUSINESS NAME'],
                        'DISTANCE': distance
                    })

            total_search_results['results'].append(single_search_results)
            
    top10_proximity_results.append(total_search_results)

In [ ]:
# Export results as json file, csv file, and to PostGreSQL DB

pd.DataFrame(top10_proximity_results).to_json(path_or_buf='top10_proximity_data.json', orient='records')
pd.DataFrame(top10_proximity_results).to_csv('top10_proximity_data.csv', index=False)
pd.DataFrame(top10_proximity_results).to_sql("top_proximity", engine, if_exists='replace')

### Use PostGreSQL database to analyze data

In [10]:
# Create an array of the names of the top 10 businesses by location

sel = [
    Business.account,
    Business.business_name,
    Proximity.origin_business_id
    ]

top10_names = session.\
query(*sel).\
filter(Business.account == Proximity.origin_business_id).\
distinct(Business.business_name).\
all()

top10_names_arr = []
for record in top10_names:
    top10_names_arr.append(record[1])

In [ ]:
# Function to return json of businesses filtered by NAICS description

def districtFilter(district):
    results = []
    
    sel = [Business.business_name, 
           Business.street_address,
           Business.city,
           Business.zip_code,
           Business.naics_description,
           Business.council_district,
           Business.lat,
           Business.lon
          ]

    records = session.\
    query(*sel).\
    filter(Business.council_district == district).\
    all()
    
    for record in records:
        results.append({
            'business': record[0],
            'address':  record[1],
            'city': record[2],
            'zip_code': record[3],
            'naics_description': record[4],
            'council_district': record[5],
            'lat': record[6],
            'lon': record[7]
        })
        
    return results

In [ ]:
# Function to return json of businesses filtered by NAICS description

def naicsFilter(naics_value):
    results = []
    
    sel = [Business.business_name, 
           Business.street_address,
           Business.city,
           Business.zip_code,
           Business.naics_description,
           Business.council_district,
           Business.lat,
           Business.lon
          ]

    records = session.\
    query(*sel).\
    filter(Business.naics_description == naics_value).\
    all()
    
    for record in records:
        results.append({
            'business': record[0],
            'address':  record[1],
            'city': record[2],
            'zip_code': record[3],
            'naics_description': record[4],
            'council_district': record[5],
            'lat': record[6],
            'lon': record[7]
        })
        
    return results

In [ ]:
# Function to return json of businesses filtered by business name

def nameFilter(bus_name_value):
    results = []
    
    sel = [Business.business_name, 
           Business.street_address,
           Business.city,
           Business.zip_code,
           Business.naics_description,
           Business.council_district,
           Business.lat,
           Business.lon
          ]

    records = session.\
    query(*sel).\
    filter(Business.business_name.like((f'%{bus_name_value}%').upper())).\
    all()
    
    for record in records:
        results.append({
            'business': record[0],
            'address':  record[1],
            'city': record[2],
            'zip_code': record[3],
            'naics_description': record[4],
            'council_district': record[5],
            'lat': record[6],
            'lon': record[7]
        })
        
    return results

In [13]:
# Function to generate list of businesses within certain distance of each
# location of specified businesses.

def proximityFilter(bus_name, count = 30):
    
    results = []
    
    pattern = re.compile("^\d\d\d\d\d")
    
    printCounter = 0
    
    origin_ids = session.\
        query(Business).\
        filter(Business.business_name.like(f'%{bus_name}%')).\
        all()
    
    totalCount = len(origin_ids)
    print(f'Processing {totalCount} locations...')
    
    for o_id in origin_ids:
        
        printCounter += 1
        if (printCounter % 20 == 0):
            perComplete = '{:2.1f}'.format(printCounter / totalCount * 100)
            print(f'{perComplete}% Complete.')
        
        o_zip = (pattern.match(o_id.zip_code)[0] if pattern.match(o_id.zip_code) else '')
        
        oResults = {
            'origin': {
                'business': o_id.business_name,
                'address':  o_id.street_address,
                'city': o_id.city,
                'zip_code': o_zip,
                'naics_description': o_id.naics_description,
                'council_district': o_id.council_district,
                'lat': o_id.lat,
                'lon': o_id.lon
            },
            'proximate': []
        }
        
        proximate_ids = session.\
            query(Proximity).\
            filter(Proximity.origin_business_id == o_id.account).\
            limit(count).\
            all()

        for record in proximate_ids:

            p_zip = (pattern.match(record.proximate_business.zip_code)[0] if pattern.match(record.proximate_business.zip_code) else '')
            
            oResults['proximate'].append({
                'business': record.proximate_business.business_name,
                'address':  record.proximate_business.street_address,
                'city': record.proximate_business.city,
                'zip_code': p_zip,
                'naics_description': record.proximate_business.naics_description,
                'council_district': record.proximate_business.council_district,
                'lat': record.proximate_business.lat,
                'lon': record.proximate_business.lon,
                'distance': record.distance
            })
                
        results.append(oResults)
        
    return results

In [15]:
# Run proximity genorator function and output as json

jsonOutput = []

for name in top10_names_arr:
    print('\n' + name)
    
    foobarbaz = proximityFilter(name)
    
    jsonOutput.append({
        'top10_business': name,
        'top10_results': foobarbaz
    })
    
with open('top10_proximity_data.json', 'w') as fp:
    json.dump(jsonOutput, fp)

ABM INDUSTRY GROUPS, LLC
Processing 165 locations...
12.1% Complete.
24.2% Complete.
36.4% Complete.
48.5% Complete.
60.6% Complete.
72.7% Complete.
84.8% Complete.
97.0% Complete.

COINSTAR ASSET HOLDINGS, LLC
Processing 142 locations...
14.1% Complete.
28.2% Complete.
42.3% Complete.
56.3% Complete.
70.4% Complete.
84.5% Complete.
98.6% Complete.

GARFIELD BEACH CVS LLC
Processing 99 locations...
20.2% Complete.
40.4% Complete.
60.6% Complete.
80.8% Complete.

KEYME LLC
Processing 89 locations...
22.5% Complete.
44.9% Complete.
67.4% Complete.
89.9% Complete.

LAZ KARP ASSOCIATES LLC
Processing 178 locations...
11.2% Complete.
22.5% Complete.
33.7% Complete.
44.9% Complete.
56.2% Complete.
67.4% Complete.
78.7% Complete.
89.9% Complete.

REDBOX AUTOMATED RETAIL LLC
Processing 194 locations...
10.3% Complete.
20.6% Complete.
30.9% Complete.
41.2% Complete.
51.5% Complete.
61.9% Complete.
72.2% Complete.
82.5% Complete.
92.8% Complete.

STARBUCKS CORPORATION
Processing 198 locations...
10.1% Complete.
20.2% Complete.
30.3% Complete.
40.4% Complete.
50.5% Complete.
60.6% Complete.
70.7% Complete.
80.8% Complete.
90.9% Complete.

T MOBILE WEST LLC
Processing 92 locations...
21.7% Complete.
43.5% Complete.
65.2% Complete.
87.0% Complete.

UNITED VALET PARKING INC
Processing 128 locations...
15.6% Complete.
31.2% Complete.
46.9% Complete.
62.5% Complete.
78.1% Complete.
93.8% Complete.

VOLUNTEERS OF AMERICA OF LOS ANGELES
Processing 178 locations...
11.2% Complete.
22.5% Complete.
33.7% Complete.
44.9% Complete.
56.2% Complete.
67.4% Complete.
78.7% Complete.
89.9% Complete.