In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import geopy
from geopy import distance

In [118]:
addressCoordFile = 'data/Addresses_in_the_City_of_Los_Angeles.csv'
bussinessFile = 'data/businesses_by_time.csv'
naicsCodeFile = 'data/2-6_digit_2017_Codes.xlsx'
activeBusiness = 'data/Listing_of_Active_Businesses.csv'
activeBusinessJSON = 'data/business_clean_parsed.json'

In [33]:
bus_df = pd.read_csv(activeBusiness, dtype={
    'LOCATION ACCOUNT #': 'str',
    'BUSINESSNAME': 'str',
    'DBA NAME': 'str',
    'STREET ADDRESS': 'str',
    'CITY': 'str',
    'ZIP CODE': 'str',
    'LOCATION DESCRIPTION': 'str',
    'MAILING ADDRESS': 'str',
    'MAILING CITY': 'str',
    'MAILING ZIP CODE': 'str',
    'NAICS': 'float',
    'PRIMARY NAICS DESCRIPTION': 'str',
    'COUNCIL DISTRICT': 'str',
    'LOCATION START DATE': 'str',
    'LOCATION END DATE': 'str',
    'LOCATION': 'str'
})

In [110]:
bus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535624 entries, 0 to 535623
Data columns (total 16 columns):
LOCATION ACCOUNT #           535624 non-null object
BUSINESS NAME                535624 non-null object
DBA NAME                     186259 non-null object
STREET ADDRESS               535602 non-null object
CITY                         535597 non-null object
ZIP CODE                     535624 non-null object
LOCATION DESCRIPTION         535618 non-null object
MAILING ADDRESS              246638 non-null object
MAILING CITY                 246650 non-null object
MAILING ZIP CODE             246564 non-null object
NAICS                        483574 non-null float64
PRIMARY NAICS DESCRIPTION    483574 non-null object
COUNCIL DISTRICT             535624 non-null object
LOCATION START DATE          532028 non-null object
LOCATION END DATE            0 non-null object
LOCATION                     529804 non-null object
dtypes: float64(1), object(15)
memory usage: 65.4+ MB

### Remove all rows for which there are not coordinate values

In [73]:
bus_coord_filtered = bus_df.dropna(subset=['LOCATION']).reset_index().drop(['index', 'LOCATION END DATE'], axis=1)
bus_coord_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529804 entries, 0 to 529803
Data columns (total 15 columns):
LOCATION ACCOUNT #           529804 non-null object
BUSINESS NAME                529804 non-null object
DBA NAME                     184379 non-null object
STREET ADDRESS               529783 non-null object
CITY                         529779 non-null object
ZIP CODE                     529804 non-null object
LOCATION DESCRIPTION         529798 non-null object
MAILING ADDRESS              244147 non-null object
MAILING CITY                 244157 non-null object
MAILING ZIP CODE             244071 non-null object
NAICS                        479310 non-null float64
PRIMARY NAICS DESCRIPTION    479310 non-null object
COUNCIL DISTRICT             529804 non-null object
LOCATION START DATE          526322 non-null object
LOCATION                     529804 non-null object
dtypes: float64(1), object(14)
memory usage: 60.6+ MB

### Parse coordinates column data from string to array: (lat, lon)

In [47]:
print(type([float(num) for num in bus_coord_filtered.loc[1, 'LOCATION'].lstrip("'(").strip("')").replace(' ','').split(',')]))

<class 'list'>

In [60]:
bus_coord_parsed = bus_coord_filtered.drop(['LOCATION'], axis=1)
lat_coord = []
lon_coord = []

# It was taking far too long to parse and directly add to dataframe, so lists were made and those appended


for index, row in bus_coord_filtered.iterrows():
    coords = [float(num) for num in bus_coord_filtered.loc[index, 'LOCATION'].lstrip("'(").strip("')").replace(' ','').split(',')]
    lat_coord.append(coords[0])
    lon_coord.append(coords[1])
    
bus_coord_parsed['LAT'] = lat_coord
bus_coord_parsed['LON'] = lon_coord

bus_coord_parsed.info()

In [76]:
bus_coord_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529804 entries, 0 to 529803
Data columns (total 16 columns):
LOCATION ACCOUNT #           529804 non-null object
BUSINESS NAME                529804 non-null object
DBA NAME                     184379 non-null object
STREET ADDRESS               529783 non-null object
CITY                         529779 non-null object
ZIP CODE                     529804 non-null object
LOCATION DESCRIPTION         529798 non-null object
MAILING ADDRESS              244147 non-null object
MAILING CITY                 244157 non-null object
MAILING ZIP CODE             244071 non-null object
NAICS                        479310 non-null float64
PRIMARY NAICS DESCRIPTION    479310 non-null object
COUNCIL DISTRICT             529804 non-null object
LOCATION START DATE          526322 non-null object
LAT                          529804 non-null float64
LON                          529804 non-null float64
dtypes: float64(3), object(13)
memory usage: 64.7+ MB

In [78]:
bus_coord_parsed.to_json(path_or_buf='business_clean_parsed.json', orient='records')

In [79]:
bus_coord_parsed.to_csv('business_clean_parsed.csv')

### Create a funciton capable of taking any number of search parameters with specified column and return coordinates for search along with specified column values

1) Prompt or set input, columns for which coordinates should be extracted

2) Remove all rows for which there are NaN/null values in the specified columns

3) Convert to JSON format for export

In [89]:
input_type = 'COUNCIL DISTRICT'
input_params = ['2', '9']

In [109]:
bus_coord_parsed.loc[bus_coord_parsed[input_type] not in input_params, :]

#.dropna(subset=input_type)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [108]:
foo = '2'

?a.any()

Object `a.any()` not found.

### Create function to generate list of businesses within specified radius distance of target business, by coordinates

In [117]:
test_var = bus_coord_parsed[bus_coord_parsed['BUSINESS NAME'] == 'STARBUCKS CORPORATION'].iloc[0,:]

print(f'{type(test_var)}\n\n{test_var}')

<class 'pandas.core.series.Series'>

LOCATION ACCOUNT #                     0000400401-0001-8
BUSINESS NAME                      STARBUCKS CORPORATION
DBA NAME                          STARBUCKS COFFEE #5833
STREET ADDRESS                   15501 DEVONSHIRE STREET
CITY                                       MISSION HILLS
ZIP CODE                                      91345-2620
LOCATION DESCRIPTION         15501 DEVONSHIRE 91345-2620
MAILING ADDRESS                   POST OFFICE BOX #34442
MAILING CITY                                     SEATTLE
MAILING ZIP CODE                              98124-1442
NAICS                                             445290
PRIMARY NAICS DESCRIPTION        Home furnishings stores
COUNCIL DISTRICT                                       7
LOCATION START DATE                           02/03/2001
LAT                                              34.2573
LON                                              -118.47
Name: 1600, dtype: object

In [127]:
origin_coords = [test_var['LAT'], test_var['LON']]
origin_coords

[34.2573, -118.4696]

In [119]:
with open(activeBusinessJSON) as f:
    data = json.load(f)

In [128]:
dest_coords = [data[0]['LAT'], data[0]['LON']]
dest_coords

[34.1207, -118.2277]

In [129]:
geopy.distance.distance(origin_coords, dest_coords).miles

16.75179120367134

In [146]:
len(data)

529804

In [168]:
t10_names = bus_df.groupby('BUSINESS NAME').count().sort_values(by=['CITY'], ascending=False)['LOCATION'].head(10).index
t10_names

Index(['STARBUCKS CORPORATION', 'REDBOX AUTOMATED RETAIL LLC',
       'LAZ KARP ASSOCIATES LLC', 'ABM INDUSTRY GROUPS, LLC',
       'VOLUNTEERS OF AMERICA OF LOS ANGELES', 'COINSTAR ASSET HOLDINGS, LLC',
       'UNITED VALET PARKING INC', 'GARFIELD BEACH CVS LLC',
       'T MOBILE WEST LLC', 'KEYME LLC'],
      dtype='object', name='BUSINESS NAME')

In [169]:
for name in t10_names:
    print(name)

STARBUCKS CORPORATION
REDBOX AUTOMATED RETAIL LLC
LAZ KARP ASSOCIATES LLC
ABM INDUSTRY GROUPS, LLC
VOLUNTEERS OF AMERICA OF LOS ANGELES
COINSTAR ASSET HOLDINGS, LLC
UNITED VALET PARKING INC
GARFIELD BEACH CVS LLC
T MOBILE WEST LLC
KEYME LLC

In [ ]:
# Using default method of geodesic distance is ~50x slower in computation than using great-circle distance.
# Great-circle distance has up to ~0.5% error, more details in GeoPy documentation. 

search_radius = 0.5
top10_proximity_results = []

for busName in t10_names:
    total_search_results = {
        'business_name': busName,
        'results': []
    }
    
    print(busName)
    counter = 0

    for busOrigin in data:
        if (busOrigin['BUSINESS NAME'] == busName):

            counter += 1
            if (counter % 20 == 0):
                print(counter)

            single_search_results = {
                'origin_business': busOrigin['LOCATION ACCOUNT #'],
                'in_proximity': []
            }
            origin_coords = [busOrigin['LAT'], busOrigin['LON']]

            for busDict in data:
                dest_coords = [busDict['LAT'], busDict['LON']]
                distance = geopy.distance.great_circle(origin_coords, dest_coords).miles

                if (distance <= search_radius):
                    single_search_results['in_proximity'].append({
                        'LOCATION ACCOUNT #': busDict['LOCATION ACCOUNT #'],
                        'BUSINESS NAME': busDict['BUSINESS NAME'],
                        'DISTANCE': distance
                    })

            total_search_results['results'].append(single_search_results)
            
    top10_proximity_results.append(total_search_results)

STARBUCKS CORPORATION

In [170]:
with open('data/proximity_to_starbucks.json', 'w') as fp:
    json.dump(total_search_results, fp)

In [181]:
total_search_results[0].keys()

dict_keys(['origin_business', 'results'])

In [142]:
results_df = pd.DataFrame(search_results)

In [143]:
results_df

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LAT,LON
0,0002688636-0001-7,MANUEL VIDAL,EAGLE A/C & HEATER SERVICE,9920 SEPULVEDA BLVD #6,MISSION HILLS,91345-2948,9920 SEPULVEDA 91345-2948,9920 SEPULVEDA BLVD APARTMENT #6,MISSION HILLS,91345-2948,561720.0,Janitorial services,7,06/24/2013,34.2505,-118.4673
1,0000400401-0001-8,STARBUCKS CORPORATION,STARBUCKS COFFEE #5833,15501 DEVONSHIRE STREET,MISSION HILLS,91345-2620,15501 DEVONSHIRE 91345-2620,POST OFFICE BOX #34442,SEATTLE,98124-1442,445290.0,Home furnishings stores,7,02/03/2001,34.2573,-118.4696
2,0002833054-0001-9,ELIZABETH G MENDOZA,None,15659 SEPTO STREET,NORTH HILLS,91343-1533,15659 SEPTO 91343-1533,8519 WILLIS AVENUE APARTMENT #109,PANORAMA CITY,91402-3434,621610.0,Home health care services,12,01/01/2013,34.2510,-118.4734
3,0003129271-0001-2,HELEN & LOTHAR HELBRUN FAMILY TRUST,None,10035 SEPULVEDA BLVD,MISSION HILLS,91345-2930,10035 SEPULVEDA 91345-2930,15511 MORRISON STREET,SHERMAN OAKS,91403-1048,531100.0,Lessors of real estate (including mini warehou...,7,05/01/2018,34.2528,-118.4680
4,0002869335-0001-3,BEN ROLAND ROUNTREE,None,10406 MEMORY PARK AVENUE,MISSION HILLS,91345-2519,10406 MEMORY PARK 91345-2519,None,None,None,812990.0,All other personal services,7,02/24/2014,34.2596,-118.4640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,0002940621-0002-1,VALLEY GODDESS INC,None,10249 SEPULVEDA BLVD,MISSION HILLS,91345-2639,10249 SEPULVEDA 91345-2639,None,None,None,812112.0,Beauty salons,7,09/30/2016,34.2569,-118.4678
738,0000290171-0001-5,MARC THALL,MARCH THULL,15336 DEVONSHIRE STREET SUITE #4,MISSION HILLS,91345-2763,15336 DEVONSHIRE 91345-2763,15336 DEVONSHIRE STREET SUITE #4,MISSION HILLS,91345-2763,561500.0,Travel arrangement & reservation services,7,06/01/1974,34.2570,-118.4665
739,0000294827-0001-1,ROBERT F SICKELS,BOBS POOL SERVICE/REPAIR,10442 DEMPSEY AVENUE,GRANADA HILLS,91344-7107,10442 DEMPSEY 91344-7107,POST OFFICE BOX #2733,CAMARILLO,93011-2733,561500.0,Travel arrangement & reservation services,12,01/09/1996,34.2592,-118.4772
740,0002094871-0002-8,SERGE SHNORHOKIAN,None,10005 SEPULVEDA BLVD,MISSION HILLS,91345-2937,10005 SEPULVEDA 91345-2937,16045 SHERMAN WAY,VAN NUYS,91406-4085,531100.0,Lessors of real estate (including mini warehou...,7,07/01/2004,34.2519,-118.4675
741,0003009942-0001-5,"L.O.S.T. FOODS, LLC",None,10333 DANUBE AVENUE,GRANADA HILLS,91344-7214,10333 DANUBE 91344-7214,None,None,None,812990.0,All other personal services,12,09/12/2017,34.2583,-118.4754

In [139]:
results_df.groupby('PRIMARY NAICS DESCRIPTION').count().sort_values(by=['CITY'], ascending=False)

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,COUNCIL DISTRICT,LOCATION START DATE,LAT,LON
PRIMARY NAICS DESCRIPTION,,,,,,,,,,,,,,,
All other personal services,47,47,14,47,47,47,47,18,18,18,47,47,47,47,47
Lessors of real estate (including mini warehouses & self-storage units),38,38,4,38,38,38,38,27,27,27,38,38,37,38,38
Janitorial services,25,25,15,25,25,25,25,8,8,8,25,25,25,25,25
Single Family Housing Construction (1997 NAICS),21,21,9,21,21,21,21,3,3,3,21,21,21,21,21
Home health care services,17,17,2,17,17,17,17,4,4,4,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Home & garden equipment & appliance repair & maintenance,1,1,0,1,1,1,1,0,0,0,1,1,1,1,1
Glass and Glazing Contractors (1997 NAICS),1,1,1,1,1,1,1,0,0,0,1,1,1,1,1
"General freight trucking, local",1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
Furniture stores,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
Women's clothing stores,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1

In [164]:
t10_names = bus_df.groupby('BUSINESS NAME').count().sort_values(by=['CITY'], ascending=False)['LOCATION'].head(10).index

In [165]:
t10_names

Index(['STARBUCKS CORPORATION', 'REDBOX AUTOMATED RETAIL LLC',
       'LAZ KARP ASSOCIATES LLC', 'ABM INDUSTRY GROUPS, LLC',
       'VOLUNTEERS OF AMERICA OF LOS ANGELES', 'COINSTAR ASSET HOLDINGS, LLC',
       'UNITED VALET PARKING INC', 'GARFIELD BEACH CVS LLC',
       'T MOBILE WEST LLC', 'KEYME LLC'],
      dtype='object', name='BUSINESS NAME')

In [7]:
bus_reindex = bus_df.set_index('BUSINESS NAME')

In [8]:
varName = 'STARBUCKS'

bus_reindex.filter(regex=f'{varName}', axis=0)

,LOCATION ACCOUNT #,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
BUSINESS NAME,,,,,,,,,,,,,,,
STARBUCKS CORPORATION,0000400401-0001-8,STARBUCKS COFFEE #5833,15501 DEVONSHIRE STREET,MISSION HILLS,91345-2620,15501 DEVONSHIRE 91345-2620,POST OFFICE BOX #34442,SEATTLE,98124-1442,445290.0,Home furnishings stores,7,02/03/2001,NaN,"(34.2573, -118.4696)"
STARBUCKS CORPORATION,0002363980-0015-7,STARBUCKS COFFEE #55650,4700 W SUNSET BLVD,LOS ANGELES,90027-6082,4700 SUNSET 90027-6082,POST OFFICE BOX #34442,SEATTLE,98124-1442,311900.0,"Other food mfg. (including coffee, tea, flavor...",13,09/27/2018,NaN,"(34.0978, -118.2921)"
STARBUCKS CORPORATION,0000155172-0001-5,STARBUCKS COFFEE #609,15300 W SUNSET BLVD,PACIFIC PALISADES,90272-3613,15300 SUNSET 90272-3613,POST OFFICE BOX #34442,SEATTLE,98124-1442,445290.0,Home furnishings stores,11,10/15/1994,NaN,"(34.0474, -118.5257)"
STARBUCKS CORPORATION,0000024503-0002-3,NaN,9000 SEPULVEDA BLVD #8637,NORTH HILLS,91343-4308,9000 SEPULVEDA 91343-4308,POST OFFICE BOX #34442,SEATTLE,98124-1442,445290.0,Home furnishings stores,7,06/03/2005,NaN,"(34.2335, -118.4674)"
STARBUCKS CORPORATION,0000008207-0032-5,STARBUCKS COFFEE #24871,401 W 5TH STREET,LOS ANGELES,90013-1001,401 5TH 90013-1001,POST OFFICE BOX #34442,SEATTLE,98124-1442,311900.0,"Other food mfg. (including coffee, tea, flavor...",14,07/02/2015,NaN,"(34.0488, -118.2517)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STARBUCKS CORPORATION,0000037459-0001-1,STARBUCKS COFFEE #5738,11155 SANTA MONICA BLVD,NaN,90501-,11155 SANTA MONICA 90501,POST OFFICE BOX #34442TAX-2,SEATTLE,98124-,722211.0,Limited-service eating places,5,04/22/2000,NaN,"(0.0, 0.0)"
STARBUCKS CORPORATION,0000037459-0002-9,NaN,7050 TOPANGA CANYON BLVD,CANOGA PARK,91303-1960,7050 TOPANGA CANYON 91303-1960,POST OFFICE BOX #34442,SEATTLE,98124-1442,311900.0,"Other food mfg. (including coffee, tea, flavor...",3,05/11/2017,NaN,"(34.1986, -118.6055)"
STARBUCKS CORPORATION,0002363980-0023-8,STARBUCKS COFFEE #56002,14640 ROSCOE BLVD,PANORAMA CITY,91402-4105,14640 ROSCOE 91402-4105,POST OFFICE BOX #34442,SEATTLE,98124-1442,311900.0,"Other food mfg. (including coffee, tea, flavor...",6,06/27/2019,NaN,"(34.221, -118.4511)"
STARBUCKS CORPORATION,0002363980-0017-3,STARBUCKS COFFEE COMPANY # 50498,230 S ALVARADO STREET,LOS ANGELES,90057-2306,230 ALVARADO 90057-2306,POST OFFICE BOX #34442,SEATTLE,98124-1442,311900.0,"Other food mfg. (including coffee, tea, flavor...",13,11/15/2018,NaN,"(34.0631, -118.2722)"
STARBUCKS CORPORATION,0000008207-0003-1,STARBUCKS COFFEE #5642,5166 LANKERSHIM BLVD,N HOLLYWOOD,91601-3799,5166 LANKERSHIM 91601-3799,POST OFFICE BOX #34067,SEATTLE,98124-1067,445290.0,Home furnishings stores,2,10/24/1998,NaN,"(34.1643, -118.3743)"

In [9]:
busTypeCoord = bus_df.dropna(subset=['PRIMARY NAICS DESCRIPTION', 'LOCATION'])
busTypeCoord.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 479310 entries, 1 to 535623
Data columns (total 16 columns):
LOCATION ACCOUNT #           479310 non-null object
BUSINESS NAME                479310 non-null object
DBA NAME                     169029 non-null object
STREET ADDRESS               479295 non-null object
CITY                         479288 non-null object
ZIP CODE                     479310 non-null object
LOCATION DESCRIPTION         479306 non-null object
MAILING ADDRESS              214310 non-null object
MAILING CITY                 214319 non-null object
MAILING ZIP CODE             214244 non-null object
NAICS                        479310 non-null float64
PRIMARY NAICS DESCRIPTION    479310 non-null object
COUNCIL DISTRICT             479310 non-null object
LOCATION START DATE          475835 non-null object
LOCATION END DATE            0 non-null object
LOCATION                     479310 non-null object
dtypes: float64(1), object(15)
memory usage: 62.2+ MB

In [10]:
typeCoords = []

for index, row in busTypeCoord.iterrows():
    typeCoords.append({
        'NAICS': row['PRIMARY NAICS DESCRIPTION'],
        'coords': [float(num) for num in row["LOCATION"].lstrip("'(").strip("')").replace(' ','').split(',')]
    })

In [11]:
len(typeCoords)

479310

In [77]:
typeCoordsJSON = {'data': typeCoords}

In [78]:
with open('naicsCoords.json', 'w') as fp:
    json.dump(typeCoordsJSON, fp)

In [57]:
top10 = {}
varInt = 0

for name in t10_names:
    print(name) 
    top10[name] = []
    for index, row in bus_reindex.filter(regex=f'{varName}', axis=0).iterrows():
        top10[name].append([float(num) for num in row["LOCATION"].lstrip("'(").strip("')").replace(' ','').split(',')])

STARBUCKS CORPORATION
REDBOX AUTOMATED RETAIL LLC
LAZ KARP ASSOCIATES LLC
ABM INDUSTRY GROUPS, LLC
VOLUNTEERS OF AMERICA OF LOS ANGELES
COINSTAR ASSET HOLDINGS, LLC
UNITED VALET PARKING INC
GARFIELD BEACH CVS LLC
T MOBILE WEST LLC
KEYME LLC

In [61]:
list(top10)

['STARBUCKS CORPORATION',
 'REDBOX AUTOMATED RETAIL LLC',
 'LAZ KARP ASSOCIATES LLC',
 'ABM INDUSTRY GROUPS, LLC',
 'VOLUNTEERS OF AMERICA OF LOS ANGELES',
 'COINSTAR ASSET HOLDINGS, LLC',
 'UNITED VALET PARKING INC',
 'GARFIELD BEACH CVS LLC',
 'T MOBILE WEST LLC',
 'KEYME LLC']

In [64]:
with open('top10Coords.json', 'w') as fp:
    json.dump(top10, fp)

In [56]:
[float(num) for num in top10["STARBUCKS CORPORATION"][0].lstrip("'(").strip("')").replace(' ','').split(',')]

[34.2573, -118.4696]

In [20]:
    starbucks = bus_df.set_index('BUSINESS NAME').filter(regex='STARBUCKS', axis=0)
    starbucks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, STARBUCKS CORPORATION to STARBUCKS CORPORATION
Data columns (total 15 columns):
LOCATION ACCOUNT #           204 non-null object
DBA NAME                     200 non-null object
STREET ADDRESS               204 non-null object
CITY                         203 non-null object
ZIP CODE                     204 non-null object
LOCATION DESCRIPTION         204 non-null object
MAILING ADDRESS              199 non-null object
MAILING CITY                 199 non-null object
MAILING ZIP CODE             199 non-null object
NAICS                        202 non-null float64
PRIMARY NAICS DESCRIPTION    202 non-null object
COUNCIL DISTRICT             204 non-null object
LOCATION START DATE          201 non-null object
LOCATION END DATE            0 non-null object
LOCATION                     204 non-null object
dtypes: float64(1), object(14)
memory usage: 25.5+ KB

In [ ]:
geopy.

In [83]:
geopy.distance.distance(top10['STARBUCKS CORPORATION'][0], top10['STARBUCKS CORPORATION'][1]).miles

14.975079874870213

In [79]:
search_radius = 1
search_param = 'STARBUCKS'


for srchLoc in top10['STARBUCKS CORPORATION']:
    for busLoc in typeCoords:
        if (geopy.distance.distance(sbLoc))

[34.2573, -118.4696]
[34.0978, -118.2921]
[34.0474, -118.5257]
[34.2335, -118.4674]
[34.0488, -118.2517]
[34.1433, -118.3975]
[34.1576, -118.6353]
[34.0747, -118.3236]
[34.0394, -118.4298]
[33.9857, -118.4435]
[33.9882, -118.2564]
[34.0586, -118.416]
[34.0836, -118.3558]
[34.1865, -118.5539]
[34.0617, -118.2905]
[34.1574, -118.4914]
[34.1721, -118.3966]
[34.045, -118.2639]
[34.0523, -118.2517]
[33.7402, -118.2923]
[34.098, -118.3223]
[34.2084, -118.5094]
[34.2854, -118.502]
[33.7231, -118.3126]
[33.9565, -118.3961]
[34.0561, -118.2374]
[34.0485, -118.3382]
[34.0398, -118.3303]
[34.1866, -118.4127]
[34.2017, -118.4304]
[34.1576, -118.4241]
[34.0623, -118.3451]
[34.234, -118.536]
[34.0589, -118.444]
[33.9781, -118.393]
[34.0405, -118.4633]
[34.2356, -118.4855]
[34.053, -118.2528]
[34.1016, -118.3262]
[34.0515, -118.256]
[34.0035, -118.4335]
[34.1528, -118.4604]
[33.9904, -118.4764]
[34.0554, -118.2702]
[34.1691, -118.6057]
[34.2563, -118.536]
[34.0616, -118.3059]
[34.1684, -118.6154]
[34.1576, -118.3964]
[34.0623, -118.4472]
[34.0482, -118.2543]
[34.3077, -118.4307]
[34.0226, -118.4388]
[34.0523, -118.2632]
[34.115, -118.1831]
[34.0488, -118.2603]
[34.1576, -118.4381]
[33.7799, -118.3095]
[34.0979, -118.343]
[34.046, -118.251]
[34.1783, -118.5973]
[34.104, -118.2591]
[34.0713, -118.36]
[34.2372, -118.5885]
[34.0479, -118.2578]
[34.2574, -118.499]
[34.0191, -118.335]
[34.1017, -118.2917]
[34.2012, -118.406]
[34.1727, -118.5564]
[34.1898, -118.6058]
[34.0455, -118.5519]
[33.7978, -118.3069]
[34.031, -118.4014]
[34.2427, -118.5579]
[34.0245, -118.2203]
[34.2012, -118.4679]
[34.0592, -118.2398]
[33.9571, -118.3962]
[33.9797, -118.4656]
[34.1015, -118.3401]
[34.1706, -118.5407]
[34.1285, -118.3462]
[34.2492, -118.5799]
[34.1259, -118.2639]
[34.0646, -118.4694]
[34.0556, -118.2454]
[34.1712, -118.5702]
[34.1664, -118.5883]
[34.0522, -118.2554]
[34.0557, -118.2046]
[34.2212, -118.5014]
[34.1017, -118.3083]
[34.1569, -118.6058]
[34.1884, -118.6427]
[34.1015, -118.3414]
[34.1401, -118.3694]
[34.2413, -118.536]
[34.1051, -118.3374]
[34.2649, -118.5234]
[34.2596, -118.3149]
[34.0581, -118.3634]
[34.1576, -118.3779]
[34.0477, -118.2393]
[34.1721, -118.4474]
[34.0617, -118.2989]
[34.04, -118.2532]
[33.9891, -118.3117]
[34.1015, -118.3374]
[34.0529, -118.2564]
[34.0865, -118.2195]
[34.0498, -118.2533]
[34.0435, -118.4314]
[34.1275, -118.4445]
[34.1945, -118.536]
[34.1608, -118.51]
[34.2505, -118.6061]
[34.098, -118.311]
[34.098, -118.3644]
[34.2391, -118.5535]
[34.1392, -118.2147]
[33.8583, -118.3021]
[34.1537, -118.4656]
[34.0271, -118.372]
[34.0546, -118.3833]
[34.0391, -118.2607]
[34.188, -118.5997]
[34.0609, -118.4141]
[34.0191, -118.2817]
[33.7637, -118.3113]
[34.0512, -118.2425]
[34.2146, -118.4487]
[34.1163, -118.2627]
[34.0625, -118.3545]
[34.0536, -118.4661]
[34.1947, -118.4488]
[34.1864, -118.6236]
[33.9612, -118.4204]
[34.0863, -118.3385]
[34.0272, -118.4285]
[34.1514, -118.4519]
[34.1475, -118.4283]
[34.0384, -118.4407]
[34.2572, -118.5805]
[34.0761, -118.3447]
[34.0604, -118.244]
[34.0621, -118.3393]
[34.0535, -118.4655]
[34.0481, -118.4354]
[34.0226, -118.4388]
[34.202, -118.5977]
[34.0282, -118.3904]
[34.221, -118.3671]
[34.1651, -118.5253]
[34.0258, -118.3085]
[34.0451, -118.2574]
[34.1111, -118.2871]
[34.0242, -118.2781]
[34.1026, -118.3395]
[34.2358, -118.554]
[34.1448, -118.4121]
[34.0269, -118.2768]
[33.9815, -118.4086]
[34.0906, -118.3258]
[34.0257, -118.4314]
[34.0515, -118.3439]
[33.7363, -118.2919]
[33.9775, -118.4174]
[34.0204, -118.2861]
[34.0451, -118.2603]
[34.0593, -118.242]
[34.0638, -118.2842]
[34.2724, -118.468]
[34.0253, -118.2395]
[34.1547, -118.448]
[34.046, -118.3761]
[34.1589, -118.3715]
[0.0, 0.0]
[34.0946, -118.3095]
[34.1074, -118.2727]
[34.1814, -118.3839]
[34.0772, -118.2641]
[34.0422, -118.2596]
[34.2007, -118.5705]
[0.0, 0.0]
[34.0174, -118.4052]
[34.0538, -118.2628]
[34.1239, -118.2198]
[34.064, -118.2973]
[34.054, -118.4402]
[34.0706, -118.2921]
[33.8164, -118.3081]
[34.0984, -118.319]
[34.076, -118.3766]
[34.0591, -118.4126]
[34.0984, -118.319]
[34.0978, -118.2921]
[34.2506, -118.502]
[34.0414, -118.2621]
[0.0, 0.0]
[34.1986, -118.6055]
[34.221, -118.4511]
[34.0631, -118.2722]
[34.1643, -118.3743]